
<br>

<center> 
<h3>Download your APEIRON!</h3>
<div style="width: 100%;">

{{ $link := slice }}
{{ $link := $link | append "https://zenodo.org/records/10839261" }}
{{ $link := $link | append "https://zenodo.org/records/10846014" }}
{{ $link := $link | append "https://zenodo.org/records/10848016" }}
{{ $link := $link | append "https://zenodo.org/records/10848081" }}
{{ $link := $link | append "https://zenodo.org/records/10848157" }}
{{ $link := $link | append "https://zenodo.org/records/10848219" }}
{{ $link := $link | append "https://zenodo.org/records/10848290" }}
{{ $link := $link | append "https://zenodo.org/records/10848321" }}

{{ $PREFIX := "https://c3lab.poliba.it/downloads/apeiron/dataset/" }}
{{ $data := site.Data.metadata }}
{{ $filters := slice "tcp" "avi" "svo" "zip" }}

<div style="overflow-x: scroll;">
<style>
    td{padding: 5px;}
    a:link{text-decoration: underline; font-style: italic; }
</style>
<table style="width: 850px; text-align: center; font-size: 1rem;">
    {{ range $i, $run := $data }}
    <tr>
            <th style="padding: 15px; " colspan="2">{{ index (split $run.run "_") 0 }}</th>
    </tr>
    <tr>
        <td style="width: 28%;">
            <table style="table-layout: fixed; width: 100%; text-align: left; ">
                <tr>
                    <td> <b> RGB-D Data </b> </td>
                </tr>
                <tr>
                    <td> <b> Event Camera Data </b> </td>
                </tr>
                <tr>
                    <td> <b> Network Data 
                        {{ if (strings.Contains $run.tcp "down") }}
                            (Downlink) 
                        {{ else }}
                            (Uplink)
                        {{ end  }} 
                        </b> 
                    </td>
                </tr>
                <tr>
                    <td> <b> PX4 CSV Logs </b> </td>
                </tr>
            </table>
        </td>
        <td >
            <table style="width: 100%; text-align: left; ">
                <tr>
                    
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.RGB_left }}"> RGB Left </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.RGB_right }}"> RGB Right </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.depth_left }}"> Depth Left </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/" $run.zed2i_svo }}"> SVO </a>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        {{ if $run.events }}
                        <a href="{{ print $PREFIX $run.run "/" $run.events }}"> Events </a>
                        {{ else }}
                            <a > N/A </a>
                        {{ end }}
                    </td>
                </tr>

                <tr>
                    <td colspan="1">
                        <a href="{{ print $PREFIX $run.run "/" $run.tcpdump }}"> PCAP </a>
                    </td>
                    <td colspan="3">
                        <a href="{{ print $PREFIX $run.run "/" $run.tcp }}"> Socket Statistics </a>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="4">
                        <a href="{{ print $PREFIX $run.run "/" $run.px4logs_csv }}"> PX4 CSV Logs </a>
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 17%; margin: 5px;">
            <a href="{{ index $link $i }}"> Download All </a>
        </td>
    </tr>
    {{ end }}
</table>
</div>
</div>
</center> 