
<br>

<center> 
<h2>Download your APEIRON!</h2>
<br>
<div style="width: 100%;">

{{ $PREFIX := "https://c3lab.poliba.it/downloads/apeiron/dataset/" }}
{{ $data := site.Data.metadata }}
{{ $filters := slice "tcp" "avi" "svo" "zip" }}

<div style="overflow: scroll;">
<style>
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FFFFFF;
    }
    td{padding: 5px;}
    a:link{text-decoration: underline; font-style: italic; }
</style>
<table style="width: 800px; text-align: center; ">
    {{ range $run := $data }}
    <tr>
            <th style="padding: 15px;" colspan="2">{{ index (split $run.run "_") 0 }}</th>
    </tr>
    <tr>
        <td style="width: 25%;">
            <table style="table-layout: fixed; width: 100%; text-align: left; ">
                <tr>
                    <td> <b> RGB-D Data </b> </td>
                </tr>
                <tr>
                    <td> <b> Event Camera Data </b> </td>
                </tr>
                <tr>
                    <td> <b> Network Data </b> </td>
                </tr>
                <tr>
                    <td> <b> PX4 CSV Logs </b> </td>
                </tr>
            </table>
        </td>
        <td style="width: 75%;">
            <table style="table-layout: fixed; width: 100%; text-align: center; ">
                <tr>
                    
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.RGB_left }}"> RGB Left </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.RGB_right }}"> RGB Right </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/exported_videos/" $run.exported_videos.depth_left }}"> Depth Left </a>
                    </td>
                    <td>
                        <a href="{{ print $PREFIX $run.run "/" $run.zed2i_svo }}"> SVO </a>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        {{ if $run.events }}
                        <a href="{{ print $PREFIX $run.run "/" $run.events }}"> Events </a>
                        {{ else }}
                            <a > N/A </a>
                        {{ end }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a href="{{ print $PREFIX $run.run "/" $run.tcpdump }}"> PCAP </a>
                    </td>
                    <td colspan="2">
                        <a href="{{ print $PREFIX $run.run "/" $run.tcp }}"> Socket Statistics </a>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <a href="{{ print $PREFIX $run.run "/" $run.px4logs_csv }}"> PX4 CSV Logs </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {{ end }}
</table>
</div>
</div>
</center> 