
</div>

<style>
    @media (min-width: 991px) {
        ::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
        } 
    }
</style>

{{ range $post :=  site.RegularPages }}
    {{ if eq $post.Params.enabled true }}

        {{ if eq $post.Params.type "post" }}
        <center> 
            <br>
            <h3> {{.Title}} </h3>
            <div style="width: 100%;">
                {{ .Content }}
            </div>
        </center>
        {{ end }}

        {{ if eq $post.Params.type "video" }}
        <center> 
            <br>
            <h3>{{ .Title }}</h3>
            <iframe width="720" height="480" 
                src="{{.Params.video}}" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </center>
        {{ end }}
    {{ end }}
{{ end }}


<!-- Table of available data -->
{{ partial "data_statistics.html" . }}

{{ partial "downloads.html" . }}


<!-- Cite Us -->
{{ range $post :=  site.RegularPages }}
    {{ if eq $post.Params.enabled true }}

        {{ if eq $post.Params.type "citeus" }}
            <br>
            <center>
                <h3> {{.Title}} </h3>
                <h5 style="padding: 10px;"> {{.Params.subtitle}} </h5>
                <div style="overflow-x: scroll;">
                <div style="text-align: center; width: 850px;" >
                    {{ .Content }}
                </div>
                </div>
            </center>
        {{ end }}
    {{ end }}
{{ end }}

<div class="container my-auto">